doctype html
html(lang="en")
  head
    script(type='text/javascript' src='http://code.jquery.com/jquery.min.js')
    script.
      $(document).ready(function() {
        $('#search').click(function() {
          $.get( '/search', { text : $('#text').val() },
            function(data) {
              $('#result').text(data);
              
            }
          );
        });
      });
  body
    input#text
    button#search.
      search
    p#result
