doctype html
html(lang="en")
  head
    link(href='../css/index.css', rel='stylesheet')
    script(type='text/javascript' src='https://code.jquery.com/jquery.min.js')
    script(type='text/javascript' src='../js/ball.js')
    script.
      $(document).ready(function() {
        init($('#paint'));
        landingPage();
        $('#search').click(function() {
          clear();
          getNewBalls();
        });
        $("#text").keyup(function(event){
            if(event.keyCode == 13){
                clear();
                getNewBalls();
            }
        });
      });
    title Twitgar
  body(onLoad = "init($('#paint'));")
    canvas(id = 'paint')
    input(id = 'text', placeHolder = 'Search for latest tweets')
    button(id = 'search') search
    div(id = 'container')
      div(id = 'invisibleDiv') 
