#invisibleDiv{
  visibility: hidden;
  width: 290px;
  height: 60px;
  background-color: #cccccc;
  opacity: 0.6;

  position: absolute;
  bottom: 0px;
  left: 50%;
  right: 25%;
  margin-left: -145px;
}
