#invisibleDiv{
  visibility: hidden;
  width: 290px;
  height: 120px;
  background-color: #cccccc;
  opacity: 0.6;

  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;

  margin: auto;


}
