#paint{
  margin-top: -8px;
  margin-left: -8px;
  background-color:  #4dd2ff;
}

#container{
  position: relative;
  margin-top: 32px;
}

#invisibleDiv {
  visibility: hidden;
  width: 47%;
  height: 85px;
  background-color: #008ae6;
  color: white;
  font-family: Helvetica;
  border-radius: 5px;
  font-size: 20px;

  opacity: 0.6;

  position: absolute;
  bottom: -8px;
  right: 15%;
  padding: 7px;

}

#text{
  width: 16%;
  min-width: 160px;
  max-width: 340px;
  height: 30px;
  border-radius: 5px;
  margin-bottom: 15px;
  border-radius: 5px;
  margin-left: 20px;

}

#search {
  border-radius: 5px;
  margin-left: 10px;
  margin-bottom: auto;
  width: 80px;
  height: 30px;
  background-color: #66b3ff;
  color: white;
  font-size: 15px;
  margin-top: 24px;
}

#search:hover{
  background-color: #66caff
}
